@model UserViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> userManager;
<div class="container bodycontainer">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createUserModal">
        Create User
    </button>

    @if (Model.Users != null)
    {
        <div>
            <h3>This Is A List Of Registered Users</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td class="d-flex flex-row">
                            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-Id="@user.UserId"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                            <form method="post" asp-controller="AdminUser" asp-action="Delete" asp-route-Id="@user.UserId">
                                <button type="submit" class="btn btn-outline-danger ms-1" asp-action="Delete" asp-route-Id="@user.UserId"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="fw-bold">No Users Found!</h3>
    }

    <!-- Modal -->
    <form method="post" asp-action="Index">
        <div class="modal fade" id="createUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create User</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="title" class="form-label">Username</label>
                            <input type="text" class="form-control" id="title" asp-for="Username">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" asp-for="Email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" asp-for="Confirm_Password">
                            <span asp-validation-for="Confirm_Password"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="isFeatured" asp-for="IsAdmin">
                            <label class="form-check-label" for="isFeatured">IsAdmin</label>
                        </div>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                        {
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="isFeatured" asp-for="IsSuperAdmin">
                                <label class="form-check-label" for="isFeatured">IsSuperAdmin</label>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
