@model ArticleDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager 
<div class="container-fluid bodycontainer">
    <div class="row py-1">
        <div class="col-lg-9 col-md-9 col-sm-9 col-12 d-flex flex-column align-items-center ps-5 pt-2" id="main-article-content">
            <h4 class="fw-bold align-self-start">@Model.MainArticle.Title</h4>
            <div class="col-lg-9 col-md-12 col-sm-12 col-12 mb-2">
                <div class="d-flex justify-content-between">
                    <p class="author text-primary">@Model.MainArticle.Author</p>
                    <p class="timeString">@Model.MainArticle.TimeString</p>
                </div>
                <img src="@Model.MainArticle.Featured_Image_Url" class="img-fluid article" text="Image cap" />
            </div>
            <div class="fr-view">
                <h6 class="fw-bold">@Model.MainArticle.Description</h6>
                <p>@Html.Raw(Model.MainArticle.Content)</p>
                @if(Model.MainArticle.Blog_Tags != null)
            {
                <div class="row my-2">
                    @foreach(var tag in Model.MainArticle.Blog_Tags)
                {
                    <a class="badge bg-dark p-2 w-auto ms-2" asp-action="Search" asp-route-searchQuery="@tag.Name">@tag.Name</a>
                }
                </div>
            }
            </div>
            <div class="w-100">
                @if (Model.MainArticle.Comments != null && Model.MainArticle.Comments.Any())
                {
                    <p>Comments</p>

                    foreach (var comment in Model.Comments)
                    {
                        <p>@comment.UserName</p>
                        <p>@comment.Descripton</p>
                        <p>@comment.DateAdded</p>
                    }
                }
                else
                {
                    <p>No Comments Yet</p>
                }
            </div>
            @if (signInManager.IsSignedIn(User) && Model.MainArticle != null)
            {
                <form method="post" class="w-100">
                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="id" asp-for="@Model.MainArticle.Id">
                        <input type="hidden" class="form-control" id="url" asp-for="@Model.MainArticle.Blog_Url">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="comment" asp-for="@Model.Comment" placeholder="Comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </form>
            }
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
            <h4>Related articles</h4>
            <div class="card-group d-flex flex-column">
                @if (Model.RelatedArticles != null)
                {
                    foreach (var article in Model.RelatedArticles.Take(4))
                    {
                        <div class="my-3 border-bottom">
                            <h5 class="title">@article.Title</h5>
                            <p class="author text-primary">@article.Author</p>
                            <img src="@article.Featured_Image_Url" width="100" height="180" class="card-img-top" text="Image cap">
                            <div class="">
                                <p class="">@article.Description</p>
                                <a class="btn btn-outline-secondary mb-2" asp-controller="Article" asp-action="Index" asp-route-urlHandle="@article.Blog_Url">Read More</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>

</script>
