@model HomeViewModel
@{
    ViewData["Title"] = "";
}

@if (Model != null && Model.General_Articles.Any())
{
    <div class="">
        <div class="body_layout row">
            <div class="featured_blogs col-lg-9 col-md-9 col-sm-9 flex-lg-grow-1 flex-md-grow-1 flex-sm-grow-1">
                <div class="blogs row">
                    <div class="blog_first_section col-lg-9 col-md-12">
                        @if (Model.Latest_Featured != null)
                        {
                            <div class="mb-3 mt-3 p-1 border-bottom box-shadow">
                                <p class="text-primary-emphasis fw-bold category">@Model.Latest_Featured.Category.CategoryName.ToUpper()</p>
                                <p class="text-secondary fw-bolder top-title">@Model.Latest_Featured.Title</p>
                                <div class="d-flex justify-content-start">
                                    <p class="author text-primary me-3">@Model.Latest_Featured.Author</p>
                                    <p class="timeString ms-3">@Model.Latest_Featured.TimeString</p>
                                </div>
                                <div class="p-1">
                                    <img src="@Model.Latest_Featured.Featured_Image_Url" class="box-shadow mb-2" style="max-height:450px;width:100%;" />
                                </div>
                                <p class="text-secondary fw-bold">@Model.Latest_Featured.Description</p>
                                <div class="text-end">
                                    <a class="btn btn-outline-dark mb-1 box-shadow" asp-controller="Article" asp-action="Index" asp-route-urlHandle="@Model.Latest_Featured.Blog_Url">Read More</a>
                                </div>
                            </div>
                        }

                        <div class="four_featured">
                            <div class="row">
                                @if (Model.Featured_Articles != null)
                                {

                                    foreach (var featured in Model.Featured_Articles)
                                    {<div class="col-6 mb-3 border-bottom box-shadow">
                                            <p class="text-primary-emphasis fw-bold category">@featured.Category.CategoryName.ToUpper()</p>
                                            <p class="fw-bold title">@featured.Title</p>
                                            <div class="d-flex justify-content-between">
                                                <p class="author text-primary">@featured.Author</p>
                                                <p class="timeString">@featured.TimeString</p>
                                            </div>
                                            <img src="@featured.Featured_Image_Url" class="w-100 h-auto box-shadow mb-2" text="Image cap" />
                                            <div class="text-end">
                                                <a class="btn btn-outline-dark my-2 box-shadow align-self-end" asp-controller="Article" asp-action="Index" asp-route-urlHandle="@featured.Blog_Url">Read More</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="main_call_to_action row d-lg-none d-md-none d-sm-block flex-grow-sm-1 mb-4">
                        <div class="main_call_1 col">
                            <p class="text-light fw-bolder">
                                Subscribe To Our Channell
                                <span class="text-primary">Novitas24</span>
                            </p>
                            <a class="btn btn-outline-primary" href="#footer">Subscribe</a>
                        </div>
                        <div class="main_call_2 col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label text-light" for="flexCheckDefault">
                                    Newsletter
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label text-light" for="flexCheckChecked">
                                    Email Marketing
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label text-light" for="flexCheckDefault">
                                    Exclusive Offers
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label text-light" for="flexCheckChecked">
                                    Events
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="blog_second_section col-lg-3 col-md-12 p-lg-3">
                        <div class="row">
                            <h5 class="fw-bold">Popular</h5>
                            <hr>
                            @if (Model.General_Articles != null)
                            {
                                foreach (var article in Model.General_Articles)
                                {
                                    <div class="col-lg-12 col-md-6 mb-lg-2 border-bottom box-shadow">
                                        <div class="">
                                            <small class="text-primary-emphasis fw-bold category">@article.Category.CategoryName.ToUpper()</small>
                                            <p class="title fw-bold">@article.Title</p>
                                            <div class="d-flex justify-content-between">
                                                <p class="author text-primary">@article.Author</p>
                                                <p class="timeString">@article.TimeString</p>
                                            </div>
                                            <img src="@article.Featured_Image_Url" class="w-100 h-auto box-shadow mb-2" text="Image cap" />
                                            <div class="text-end">
                                                <a class="btn btn-outline-dark my-2 box-shadow align-self-end" asp-controller="Article" asp-action="Index" asp-route-urlHandle="@article.Blog_Url">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="main_ col-12">
                        <div class="row flex-grow-sm-1 mb-4" id="main-call">
                            <div class="main_call_1 col">
                                <p class="text-light fw-bolder">Subscribe To Our Channell <span class="text-primary">Novitas24</span></p>
                                <a class="btn btn-outline-primary" href="#footer">Subscribe</a>
                            </div>

                            <div class="main_call_2 col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                    <label class="form-check-label text-light" for="flexCheckDefault">
                                        Newsletter
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <label class="form-check-label text-light" for="flexCheckChecked">
                                        Email Marketing
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                    <label class="form-check-label text-light" for="flexCheckDefault">
                                        Exclusive Offers
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <label class="form-check-label text-light" for="flexCheckChecked">
                                        Events
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="all_blogs mt-4">
                            <div class="row">
                                <h4 class="fw-bold">Latest</h4>
                                <hr>
                                @if (Model.Latest_General != null)
                                {
                                    foreach (var generalArticle in @Model.General_Articles)
                                    {
                                        <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                                            <div class="p-lg-2 p-md-2 p-sm-0 border-bottom box-shadow">
                                                <p class="text-primary-emphasis fw-bold category">@generalArticle.Category.CategoryName.ToUpper()</p>
                                                <p class="fw-bold text-secondary title">@generalArticle.Title</p>
                                                <div class="d-flex justify-content-between">
                                                    <p class="author text-primary">@generalArticle.Author</p>
                                                    <p class="timeString">@generalArticle.TimeString</p>
                                                </div>
                                                <img src="@generalArticle.Featured_Image_Url" class="w-100 h-auto mb-2" text="Image cap" />
                                                <div class="text-end">
                                                    <a class="btn btn-outline-dark box-shadow align-self-end" asp-controller="Article" asp-action="Index" asp-route-urlHandle="@generalArticle.Blog_Url">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------sidebar----------------->
            <div class="bg-black sidebar_socials col-1 d-lg-block d-md-block p-1">
                <ul class="d-flex">
                    <li><a href=""><i class="fab fa-twitter me-1"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>

                    <li><a href=""><i class="fab fa-twitter me-1 ms-5"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>

                    <li><a href=""><i class="fab fa-twitter me-1 ms-5"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>

                    <li><a href=""><i class="fab fa-twitter me-1 ms-5"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>

                    <li><a href=""><i class="fab fa-twitter me-1 ms-5"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>
                </ul>
            </div>
            <div class="sidebar col-lg-2 col-md-2 col-sm-2 flex px-0 py-3">
                <div class="sidebar-menu">
                    <div class="sidebar_main d-flex flex-column justify-content-center">
                        <div class="call_to_action_top mx-2 py-3">
                            <div class="header_novitas flex-md-column">
                                <h4 class="mb-2">Novitas24</h4>
                                <p class="text-light message mb-2">Stay Updated On Tech Trends</p>
                            </div>
                            <a class="btn btn-outline-light fw-bolder" href="#footer">Sign Up</a>
                        </div>
                        <div class="call_to_action">
                            <div class="promo bg-white">
                                <h4><i class="fa-solid fa-bacon"></i> Mundus</h4>
                                <p class="text-black message">Explore the future of tech with TechMundus today!</p>
                                <span class="my-2"><i class="fa-solid fa-arrow-down-long 2-xl"></i></span>
                                <span class="mt-2"><a href="">Visit Us Today</a></span>
                            </div>
                        </div>
                        <p class="call_paragraph">Join Our <a href="#footer" class="btn btn-primary">Novitas24</a></p>
                        <div class="call_to_action bg-white"></div>
                        <div class="call_to_action">
                            <div class="promo bg-white">
                                <h4><i class="fa-solid fa-bacon"></i> Mundus</h4>
                                <p class="text-black message">Explore the future of tech with TechMundus today!</p>
                                <span class="my-2"><i class="fa-solid fa-arrow-down-long 2-xl"></i></span>
                                <span class="mt-2"><a href="">Visit Us Today</a></span>
                            </div>
                        </div>
                        <div class="call_to_action_top mx-2 py-3">
                            <div class="header_novitas flex-md-column">
                                <h4 class="mb-2">Novitas24</h4>
                                <p class="text-light message mb-2">Stay Updated On Tech Trends</p>
                            </div>
                            <a class="btn btn-outline-light fw-bolder" href="#footer">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------container_end-------------------->
            <div class="bg-black sidebar_socials col-1 d-lg-block d-md-block p-1">
                <ul class="d-flex w-100">
                    <li><a href=""><i class="fab fa-twitter me-1"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>

                    <li><a href=""><i class="fab fa-twitter ms-5 me-1"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>

                    <li><a href=""><i class="fab fa-twitter ms-5 me-1"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>

                    <li><a href=""><i class="fab fa-twitter ms-5 me-1"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>

                    <li><a href=""><i class="fab fa-twitter me-1 ms-5"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-stack-overflow me-1"></i>Stack_Overflow</a></li>
                    <li><a href=""><i class="fab fa-github me-1"></i>Github</a></li>
                    <li><a href=""><i class="fab fa-linkedin me-1"></i>LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>

}
else
{
    <div class="container">
        <p class="fw-bold title">No Data Found</p>
    </div>
}
