@model IEnumerable<BlogArticle>

<div class="container bodycontainer pt-2">
    @if (Model != null && Model.Any())
    {
        <div class="my-3">
            <form method="get" asp-controller="AdminArticle" asp-action="List">
                <div class="d-flex align-items-center justify-content-around w-auto">
                    <input class="form-control me-2" name="searchQuery" placeholder="Search article title,tag or category" value="@ViewBag.searchQuery">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="d-flex w-100 mb-3">
            <h4 class="fw-bolder">This Is A List Of Available Articles</h4>
            <div class="m-lg-auto">
                <a asp-action="Add" class="btn btn-secondary w-auto">Create New Article</a>
            </div>
        </div>
        <table class="table-bordered w-100">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Date Published</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model)
                {
                    <tr>
                        <td class="text-center">@article.Id</td>
                        <td class="text-center">@article.Title</td>
                        <td class="text-center">@article.Author</td>
                        <td class="text-center">@article.Published_Date.ToShortDateString()</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-Id="@article.Id">Edit</a>
                                <a class="btn btn-outline-danger ms-2" asp-action="Delete" asp-route-Id="@article.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="my-3">
            <form method="get" asp-controller="AdminArticle" asp-action="List">
                <div class="d-flex align-items-center justify-content-around w-50">
                    <input class="form-control me-2" name="searchQuery" placeholder="Search article title,tag or category" value="@ViewBag.searchQuery">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="d-flex w-100 mb-3">
            <h4 class="fw-bolder">No Articles Found Containing The Term "@ViewBag.searchQuery"</h4>
            <div class="m-lg-auto">
                <a asp-action="Add" class="btn btn-secondary w-auto">Create New Article</a>
            </div>
        </div>
    }
</div>
