@model IEnumerable<Novitas_Blog.Models.Domain_Models.Category>

<div class="container bodycontainer pt-2">
    @if (Model != null && Model.Any())
    {
        <div class="my-3">
            <form method="get" asp-controller="AdminCategory" asp-action="List">
                <div class="d-flex align-items-center justify-content-around w-auto">
                    <input class="form-control me-2" name="searchQuery" placeholder="Search Category" value="@ViewBag.searchQuery">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="d-flex w-100 mb-3">
            <h4 class="fw-bolder">This Is A List Of Available Categories</h4>
            <div class="ms-auto">
                <a asp-action="Add" class="btn btn-secondary w-auto">Create New Category</a>
            </div>
        </div>
        <table class="w-100 table-bordered">
            <thead>
                <tr>
                    <td class="text-center">Id</td>
                    <td class="text-center">Name</td>
                    <td class="text-center">Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td class="text-center">@category.Id</td>
                        <td class="text-center">@category.CategoryName</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-Id="@category.Id">Edit</a>
                                <form method="post" asp-action="Delete" asp-route-Id="@category.Id">
                                    <button type="submit" class="btn btn-outline-danger ms-1">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="my-3">
            <form method="get" asp-controller="AdminCategory" asp-action="List">
                <div class="d-flex align-items-center justify-content-around w-auto">
                    <input class="form-control me-2" name="searchQuery" placeholder="Search Category" value="@ViewBag.searchQuery">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="d-flex w-100 mb-3">
            <h4 class="fw-bolder">No Category Found With The Term "@ViewBag.searchQuery"</h4>
            <div class="m-lg-auto">
                <a asp-action="Add" class="btn btn-secondary w-auto">Create New Category</a>
            </div>
        </div>
    }
</div>

